<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1" package="com.android.camera"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <original-package android:name="com.android.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.SystemUI.permission.TIGGER_TOGGLE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application android:theme="@style/ThemeCamera" android:label="@string/camera_label" android:icon="@mipmap/ic_launcher_camera" android:name="com.android.camera.CameraAppImpl" android:allowBackup="true" android:hardwareAccelerated="true">
        <uses-library android:name="com.google.android.media.effects" android:required="false" />
        <receiver android:name="com.android.camera.CameraButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.camera.storage.PriorityStorageBroadcastReceiver" android:enabled="@bool/priority_storage">
            <intent-filter>
                <action android:name="miui.intent.action.PRIORITY_STORAGE" />
            </intent-filter>
            <meta-data android:name="miui.intent.extra.PRIORITY_STORAGE_KILL_APP" android:value="1" />
        </receiver>
        <activity android:name="com.android.camera.Camera" android:clearTaskOnLaunch="true" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ThemeCameraSettings" android:label="@string/videocamera_settings_label" android:name="com.android.camera.VideoCameraPreferenceActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:theme="@style/ThemeCameraSettings" android:label="@string/camera_settings_label" android:name="com.android.camera.CameraPreferenceActivity" android:screenOrientation="behind">
            <intent-filter android:priority="60">
                <action android:name="miui.intent.action.APP_SETTINGS" />
            </intent-filter>
        </activity>
    </application>
</manifest>